<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html>
<head>
	<title>EventeX</title>
	<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />
</head>
<body>
	<div id="content">
		<div id="top">
			<img src="{{ STATIC_URL }}img/Logo.png" /><br/>
			EventeXWeb
		</div>
		<div= id="main">
			<h1>Bem-vindo ao EventeX</h1>
			<p>O evento mais sensacional do ano depois do Dev in Rio!</p>
		</div>
		<div id="footer">
			<p>&copy; 2012. <a rel="license" href="http://eventex.herike.com">EventeX</a>, some rights reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a><a href="http://www.djangoproject.com/" id="django"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a></p>
		</div>
	</div>
</body>
</html>
